.container {
  margin: auto;
  width: 60%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0,0,0,.025);
  padding: 16px;
}

.company-info-row {
  display: flex;
  justify-content: space-between;
}

.container a {
  color: #344955;
  transition: color .2s;
}

.container a:hover {
  color: #75b8e2;
}

@media screen and (max-width: 620px) {
  .container {
    width: 97%;
  }

  .company-info-row {
    flex-direction: column;
  }

  .company-info-row span {
    margin: 10px 0;
  }
}