.container {
  margin: auto;
  width: 60%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0,0,0,.025);
  padding: 16px;
}

.spinner-container {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar h6 {
  font-size: 26px;
  margin: 10px;
}

.title-bar span {
  font-size: 16px;
  font-weight: normal;
  color: gray;
  margin: 10px;
}

.title-bar button {
  background: none;
  border: none;
  margin: 0;
  width: 60px;
  height: 60px;
}

.title-bar button:hover {
  color: gray;
}

.charttime-container {
  display: flex;
  margin: 0 20px;
  border: 1px solid black;
  border-right: none;
}

.charttime-button {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  border-right: 1px solid #344955;
  transition: background .1s;
}

.charttime-button:hover, :focus {
  background-color: #bbddf1;
}

@media screen and (max-width: 620px) {
  .container {
    width: 97%;
  }
  .title-bar button {
    visibility: hidden;
  }
}