.container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 60%;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}