.container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
}

.panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0,0,0,.0125);
  font-size: 15px;
  margin: 1% 0;
  padding: 16px;
  transition: box-shadow .1s ease-in-out;
  width: 49%;
}

.panel:hover {
  box-shadow: 2px 4px 10px rgba(0,0,0,.1);
}

.panel-details {
  display: flex;
  justify-content: space-between;
}

.panel-title {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .panel {
    width: 97%;
  }
}